.render-layout{
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
    // font-family: 'Inter', sans-serif;
    font-family: 'Urbanist', sans-serif;
    display: flex;
}
.sidenav-section{
    width: 230px;
}
.outlet-section{
    width:calc(100vw - 230px);
    height: 100vh;
}

.scrollable-outlet-section{
   height: calc(100vh - 55px);
   width: 100%;
   overflow: auto;
   padding: 1rem;
}