.topNav{
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bs-dark-text-emphasis);
}
.nav-page-menu-name{
    padding: 0 0rem;
    display: flex;
    align-items: center;
    color: var(--bs-white);
    span{
        font-weight: 400;
    }
}
.nav-menu{
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    span{
        font-size: 35px;
    }
}
.nav-page-name{
   h5{
    margin: 0;
   }
}
.nav-profile{
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    span{
        font-size: 40px;
        font-weight: 200;
        cursor: pointer;
    }
}