.knn-intro {
  box-sizing: border-box;
}
.knn-basic-concept {
  box-sizing: border-box;
}
h5 {
  color: var(--primary-800);
}
h6 {
  color: var(--primary-700);
}
.knn-img {
  object-fit: contain;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.knn-hyperparameter{

}
