.global-table-style table {
  font-family: Inter, sans-serif;
}

.global-table-style
  .ant-table
  .ant-table-body
  table
  .ant-table-row
  td.ant-table-cell {
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.p-datatable .p-datatable-thead tr th {
  // padding: 0.5rem 1rem;
  background-color: #495057 !important;
  color: white !important;
  font-size: 13px;
}

.p-datatable .p-datatable-tbody tr td {
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0.25rem 0.5rem!important;
}

.p-datatable.p-datatable-striped .p-datatable-tbody > tr.p-row-odd {
  background: rgb(232 232 232) !important;
}
.p-datatable .p-paginator-bottom {
  border-width: 1px;
}
.p-paginator .p-paginator-first,
.p-paginator .p-paginator-prev,
.p-paginator .p-paginator-next,
.p-paginator .p-paginator-last {
  width: 2rem;
  height: 2rem;
  margin: 0.143rem;
}
[data-pc-section="pagebutton"],
[data-pc-section="nextpagebutton"],
[data-pc-section="lastpagebutton"],
[data-pc-section="firstpagebutton"],
[data-pc-section="prevpagebutton"] {
  height: 2rem !important;
  max-width: 2rem !important;
  min-width: 2rem !important;
  font-size: 13px !important;
}

.custom-paginator .p-dropdown {
  height: 2rem !important;
}
.custom-paginator .p-dropdown .p-dropdown-label {
  font-size: 13px;
  width: 1.5rem;
  padding: 5px 8px;
  text-align: center;
}
.custom-paginator .p-dropdown .p-dropdown-trigger {
  width: 1.75rem;
}
.custom-paginator .p-dropdown .p-dropdown-trigger svg {
  height: 14px;
  width: 14px;
}
.p-dropdown-panel .p-dropdown-items-wrapper .p-dropdown-items .p-dropdown-item {
  text-align: center;
  font-size: 13px;
  padding: 0.75rem;
}

.pdf-button{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem!important;
    width: 2.5rem!important;
}
.p-inputgroup{
    height: 40px;
    border: 1px solid #dedede;
    border-radius: 5px;
}
.p-inputgroup .p-inputgroup-addon{
    padding: 0.75rem 0.5rem;
    border-width: 0;
}
.p-inputgroup .p-inputtext.p-inputtext-sm{
    border-width: 0;
    padding: 0.75rem 0.5rem;
}
.p-inputgroup .p-inputtext:focus{
    border-color: transparent;
}
.p-inputtext:enabled:focus{
    border-color: transparent!important;
    box-shadow: none!important;
}