.brand-logo{
    height: 40px;
    display: flex;
    border: 2px solid #f9bf4b;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    background-color: #f9bf4b;
    width: 100%;
    cursor: pointer;
}
