.explore-topic {
  padding                 : 2rem 0;
  background-color        : var(--surface-100);
}
.topic-section {
  ul {
    margin                : 0;
    padding               : 0;
    list-style            : none;
    li.tag {
      display             : inline-block;
      padding             : 0.5rem 1rem;
      border-radius       : 20px;
      line-height         : 1;
      margin              : 0 0.5rem 0.5rem 0;
      border              : 1px solid var(--primary-400);
      cursor              : pointer;
      transition          : 0.5s background;
    }
    li.tag:hover {
      background-color    : #f9bf4b;
      color               : white;
      transition          : 0.5s background;
      border              : 1px solid #f9bf4b;
    }
    li.active-tag {
      background-color        : #f9bf4b;
      color                   : white;
      transition              : 0.5s background;
      border                  : 1px solid #f9bf4b;
    }
  }
}

.selected-tag-section {
  background-color        : var(--surface-200);
}
