.outline-page {
  border: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: var(--surface-200);
}

.know-more-section {
  padding: 2rem 0;
  background-image: linear-gradient(rgba(4, 9, 30, 0.35), rgba(4, 9, 30, 0.7)),
    url("../../assests/img/default-page/join-us-section.jpg");
  background-size: cover;
}
.know-more-section {
  h1 {
    color: #f9bf4b;
    text-transform: uppercase;
  }
  h4 {
    color: white;
    width: auto;
    font-weight: 400;
  }
  p {
    color: white;
  }
}
.join-now-btn {
  color: #f9bf4b;
  text-decoration: none;
  font-size: 16px;
  background-color: #ffffff87;
  border-radius: 60px;
  display: inline-block;
  z-index: 1;
  transition: 0.3s;
  text-align: center;
  position: relative;
  font-weight: 500;
  outline: none;
  border: none;
  line-height: 1.2;
  cursor: pointer;
  width: auto;
  padding: 16px 40px;
}
.join-now-btn span {
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #f9bf4b;
  z-index: -1;
  transition: 0.5s;
  border-radius: 60px;
}
.join-now-btn:hover {
  font-weight: 500;
  color: #fff;
  box-shadow: 0 3px 6px #f3c770c9;
}

.join-now-btn:hover span {
  width: 100%;
  border: 1px solid #f9bf4b;
}
.explore-section {
  background-color: var(--surface-100);
  h2 {
    font-size: 25px;
    color: var(--primary-800);
  }
}
.ml-topic-section {
  background-color: var(--surface-200);
  h3 {
    text-transform: capitalize;
    color: var(--primary-800);
  }
  h6 {
    font-size: 16px;
  }

  .topic-section {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      li.tag {
        display: inline-block;
        padding: 0.5rem 1rem;
        border-radius: 20px;
        line-height: 1;
        margin: 0 0.5rem 0.5rem 0;
        border: 1px solid var(--primary-400);
        cursor: pointer;
        transition: 0.5s background;
      }
      li.tag:hover{
        background-color: #f9bf4b;
        color: white;
        transition: 0.5s background;
        border: 1px solid #f9bf4b;
      }
    }
  }
}

.ml-model-section {
    background-color: var(--surface-100);
    h2 {
      font-size: 25px;
      color: var(--primary-800);
    }
    img{
        max-width: 100%;
    }
    .dive-in-btn {
        position: relative;
        font-size: 14px;
        height: 3em;
        padding: 0 3em;
        border: none;
        background-color: #f0b847;
        color: #fff;
        text-transform: capitalize;
        overflow: hidden;
        border-radius: 20px
       }
       
       .dive-in-btn::before {
        content: '';
        display: block;
        position: absolute;
        z-index: 0;
        bottom: 0;
        left: 0;
        height: 0px;
        width: 100%;
        background: linear-gradient(90deg, rgb(249 191 75) 20%, rgb(239 161 6) 100%);        transition: 0.2s;
       }
       
       .dive-in-btn .label {
        position: relative;
       }
       
       .dive-in-btn .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 3em;
        width: 3em;
        position: absolute;
        top: 3em;
        right: 0;
        opacity: 0;
        transition: 0.4s;
       }
       
       .dive-in-btn:hover::before {
        height: 100%;
       }
       
       .dive-in-btn:hover .icon {
        top: 0;
        opacity: 1;
       }
  }

