.header{
    margin: 7px;
}
.main-body{
    margin: 0.5rem !important
}
.top-header{
    background-color: dimgrey;
    border-radius: 7px;
}
.top-header h1 {
    font-size: 19px;
    color: white;
    margin: 20px;
}
.top-header h1 span{
    font-size: 12px;
}
